.nbody {
    font: 300 16px/1.5 'Roboto', sans-serif;
    color: #333;
    background: #e3e9ff;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 10px;
    max-height: max-content;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 300;
  }
  
  p {
    margin: 0 0 15px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    font: 300 16px/1.5 'Roboto', sans-serif;
    transition: border 0.3s linear;
    flex-grow: 1;
  }
  
  input[type="text"]:focus {
    border-color: #7fcc5b;
    outline: none;
  }
  
  .btn-primary {
    background: #c78d4a;
    border: none;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 40px;
    color: #fff;
    cursor: pointer;
    font: 300 16px/1.5 'Roboto', sans-serif;
    transition: background 0.5s linear;
  }
  
  .btn-primary:hover {
    background: #7fcc5b;
  }
  
  .btn-primary:focus {
    outline: none;
  }
 
  .nameBlock {
    padding: 30px;
    margin: 30px 0;
    background: #fff;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
  }
  
  .nameBlock .titleHolder {
    margin: 0 0 30px;
  }
  
  .listHolder li {
    counter-increment: step-counter;
    overflow: hidden;
    padding: 0 0 20px 30px;
    position: relative;
  }
  
  .listHolder li:before {
    content: counter(step-counter);
    background: #c78d4a;
    color: #fff;
    font-size: 14px;
    padding: 0px 6px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .listHolder li:hover {
    background: #7fcc5b;
    transition: background 0.5s linear, color 0.3s linear;
  }
  
  .listHolder li:focus {
    outline: none;
  }

  .listHolder .listName {
    float: left;
  }
  
  .listHolder .btn-icon {
    float: right;
    margin: 0 0 0 20px;
  }
  
  .formHolder {
    margin: 0 -5px;
    overflow: hidden;
    position: relative;
  }
  
  .formHolder .col {
    float: left;
    width: 20%;
    padding: 0 5px;
  }
  
  .formHolder .col.big {
    width: 60%;
  }

.delete-button {
  border-radius: 50px;
  background: #c78d4a;
  border: none;
  padding: 1px;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: 2%;
  color: #fff;
  cursor: pointer;
  font: 300 16px/1.5 'Roboto', sans-serif;
  transition: background 0.5s linear;
  transition: .3s;
}

.delete-button:hover{
  background: rgb(240, 60, 60);
  transform: scale(1.05);
}
