h1 {
    text-align: center;
}

#report-card {
    margin: 0 auto;
    width: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font: 300 16px/1.5 'Roboto', sans-serif
}

th, td {
    color: #4b4a4a;
    border: 1px solid #978167;
    padding: 8px;
    text-align: center;
}

thead, th{
    color: #d19046;
    background-color: #aeee90;
    font: 300 22px/1.5 'Roboto', sans-serif;
}

#th2{
    color: #b17026;
    background-color: #bbe9a6;
    font: 300 22px/1.5 'Roboto', sans-serif;
}

#hd {
    color: #a5733a;
}

button {
    display: block;
    font-weight: bold;
    margin: 20px auto;
    background-color: #b17026;
    color: #bbe9a6;
    border-radius: 400px;
    height: 45px;
    transition: .4s;
}

button:hover {
    color: #e9993d;
    background-color: #8ce264;
    transform: scale(1.3);
    cursor: pointer;
    font-size: 15px;
    border: 1px solid;
}

#dd {
    margin-top: 0;
    font-size: 17px;
    border: 1px solid rgb(14, 243, 14);
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    right: 1%;
    position: fixed;
}

#dd:hover {
    right: 2%;
}

p {
    text-align: center;
}