h1 {
    text-align: center;
}

#report-card {
    margin: 0 auto;
    width: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #312525;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    margin: 20px auto;
}

p {
    text-align: center;
}